@media screen and (min-width: 1200px) {
    .my-container {
        padding: 10px calc((100% - 1127px) / 2);
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .my-container {
        padding: 10px calc((100% - 933px) / 2);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .my-container {
        padding: 10px calc((100% - 723px) / 2);
    }
}

@media screen and (max-width: 767px) {
    .my-container {
        padding: 10px 1em;
    }
}
