.top-bar {
    background-color: white;
    vertical-align: middle;
    margin: 0 !important;
    align-items: center;
    position: fixed;
    z-index: 9999;
    display: flex;
    width: 100%;
    top: 0;
    background-color: teal;
    color: white;
}
@media screen and (max-width: 767px) {
    .ntu-logo {
        display: none !important;
    }
}


.small-top-bar {
    justify-content: space-between !important;
    height: 60px;
    opacity: 0.8;
}

.big-hidden-top-bar {
    justify-content: space-between !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
}

.big-top-bar {
    justify-content: space-between !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    height: 100px;
    opacity: 1;
}